/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input,
button,
ul {
  all: unset;
}

li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 0px;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  text-align: center;
  padding: 40px 0 15px;
}

header img {
  margin: 0 auto;
}

header h1 {
  font-family: 'DS Sans', sans-serif;
  color: #d04f4f;
}

.recipes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 50px;
}

#error-msg {
  display: none;
  width: 100%;
  padding: 20px;
  margin: 40px 0;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.search {
  width: 100%;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7e7e7;
  color: #000000;
  height: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border-radius: 5px;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px;
}

.search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.search__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.search__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.search__btn {
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  background: url(../img/search.svg) no-repeat;
  cursor: pointer;
}

.ingredients {
  background-color: #3282f7;
}

.appareils {
  background-color: #68d9a4;
}

.ustensiles {
  background-color: #ed6454;
}

.filters {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.filters__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.filters__select-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.tags {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  gap: 11px;
  height: 37px;
  padding: 0 20px;
  border-radius: 5px;
}

.tags__item button {
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url(../img/close.svg) no-repeat;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
}

.category__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 170px;
  height: 69px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 15px;
}

.category__input {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.category__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  flex-basis: auto;
}

.category__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.category__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.category__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.category__btn {
  width: 32px;
  height: 32px;
  background: url(../img/arrow.svg) no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category.active .category__tittle {
  display: none;
}

.category.active .category__input {
  display: block;
  width: 600px;
}

.category.active .category__list {
  display: block;
  z-index: 2;
}

.category.active .category__btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.category__list {
  position: relative;
  display: none;
  padding: 0 15px;
  width: 100%;
}

.category__list ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0px;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding: 15px;
  border-radius: 5px;
}

.category__list li {
  margin-bottom: 5px;
}

.category__list a {
  cursor: pointer;
}

.category__list a:hover {
  font-weight: 700;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 178px;
  background-color: #c7bebe;
}

.card__details {
  width: 100%;
  height: 186px;
  background-color: #e7e7e7;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 42px 104px;
      grid-template-rows: 42px 104px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .tittle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 24px;
}

.card__tittle {
  font-size: 18px;
  font-weight: 400;
  display: inline;
}

.card__time {
  display: inline;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 40px;
}

.card__time::before {
  display: inline-block;
  position: absolute;
  -webkit-transform: translateX(-29px);
          transform: translateX(-29px);
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/clock.svg);
}

.card__ingredients {
  font-size: 12px;
  padding-right: 5px;
}

.card__ingredients .ingredient {
  line-height: 14.4px;
}

.card__preparation {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  height: 96px;
  font-family: 'Roboto', sans-serif;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
