// colors

// tittle
$color-logo: #d04f4f;

// search
$color-search-bg: #e7e7e7;
$color-serch-text: #000000;
$color-serch-placeholder: rgba(0, 0, 0, 0.25);

// filters categories
$color-ingredients: #3282f7;
$color-appareils: #68d9a4;
$color-ustensiles: #ed6454;
$color-filter-text: #ffffff;
$color-filter-placeholder: rgba(255, 255, 255, 0.5);
$color-tag-text: #ffffff;

// receipts cards
$color-recipes-bg: #e7e7e7;
$color-recipes-img: #c7bebe;
$color-recipes-text: #000000;
